*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }

  /* navbar design for large device */

  nav{
    background: #fff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
  }
  .logo{
    height: 50px;
    margin-top: 15px;
    padding: 0 100px;
  }
  nav ul{
    float: right;
    margin-right: 50px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: whitesmoke;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  /* banner area section 1 for large device */

  .section{
    background: url(./images/header_image2.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

  .header__banner{
    background-image: linear-gradient(to bottom right, red, yellow);
    opacity: 80%;
    background-size: cover;
    height: calc(100vh - 80px);
    clip-path: polygon(0 100%, 0 100%, 100% 0, 100% 100%);

  }

  .header-text{
    width: 45%;
    float: right;
    font-size: 30px;
    margin-top: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


/* section 2 code for large device */

  .flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 80vh;
    margin-top: 100px;
}

  .section2__div1{
      border-right: 7px solid black;
      width: 50%;
  }

  .section2__image1{
      width: 65%;
  }
  .section2__image2{
    width: 90%;
}
.section2__div1 > h1, .section2__div2 > h1{
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2__div1 > h3, .section2__div2 > h3{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Section3 design  for large device */

.section3{
    margin-top: 100px !important;
    height: 100vh;
    margin: 0 50px;
    border-left: 100px solid yellowgreen;
    border-bottom: 100px solid yellowgreen;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 50px;
}
.section3__inner{
    background-color: whitesmoke;
    height: 93%;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.div1, .div2, .div3{
    height: 100%;
    width: 33%;
}
.div1__inner, .div2__inner, .div3__inner{
    height: 300px;
    background-color: white;
    width: 70%;
    margin-left: 50px;
}
.div1__inner{
    margin-top: 70px;
    border-top-right-radius: 70px;
}
.div2__inner{
    margin-top: 170px;
    border-top-left-radius: 70px;
}
.div3__inner{
    margin-top: 150px;
    border-bottom-right-radius: 70px;
}
.div3 >h3 {
    margin-top: 70px;
    text-align: right;
    padding-right: 70px;
    font-size: 22px;
}
.div3>p{
    padding-right: 60px;
    margin-top: 10px;
}

.span{
    padding-top: 30px;
    padding-bottom: 15px;
}

.innerp{
    padding-top: 30px;
}

/* Footer Designing */
footer{
    height: 30vh;
    margin-top: 20px;
    background-color: rgb(19, 19, 112);
}


  /* responsive desin */

  @media (max-width: 600px){

    /* herder responsive for mobile device */

    .logo{
      height: 35px;
      margin-top: 15px;
      padding-left: 10px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .header-text{
        font-size: 12px;
        margin-top: 250px;
    }

    /* section 2 responsive for mobile */

    .flex-container {
        flex-direction: column;
      }
      .section2__div1{
        border-right: none;
        width: 100%;
    }

    /* section 3 responsive for mobile */

    .section3{
        margin-top: 250px !important;
        height: 100%;
        margin: 0;
        border: none;
    }
    .section3__inner{
        background-color: whitesmoke;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .div1, .div2, .div3{
        height: 100%;
        width: 100%;
    }
    .div3 >h3 {
        text-align: left;
        padding-left: 10px;
        font-size: 22px;
    }
    .div3>p{
        padding-left: 5px;
        margin-top: 10px;
    }
  }
  

  @media (max-width: 858px){

    /* herder responsive for tab device */

    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: whitesmoke;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: gray;
    }
    #check:checked ~ ul{
      left: 0;
    }

    /* section2 responsive for teb device */

    .flex-container {
        flex-direction: column;
      }
      .section2__div1{
        border-right: none;
        width: 100%;
    }

    /* section 3 responsive for tab devive */

    .section3{
        margin-top: 500px !important;
        height: 100%;
        margin: 0;
        border: none;
    }
    .section3__inner{
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .div1, .div2, .div3{
        height: 100%;
        width: 100%;
    }
    .div3 >h3 {
        text-align: left;
        padding-left: 10px;
        font-size: 22px;
    }
    .div3>p{
        padding-left: 5px;
        margin-top: 10px;
    }
  }

  